<!-- <app-log-in></app-log-in> -->

<!-- <app-add-project></app-add-project> -->

<!-- <app-project-list #projectlist></app-project-list> -->

<!-- <nav class="nav nav-tab ms-5" style="height: 0px;">
<a class="ms-5" [routerLink]="['./login']">Login </a>
<br><br> -->
<!-- <a class="ms-5" [routerLink]="['./addproject']">addproject</a>
<br><br>
<a class="ms-5" [routerLink]="['./projectlist']">ProjectList</a> -->

<!-- </nav> -->

<router-outlet></router-outlet>
<!-- <app-pagination></app-pagination> -->

<!-- <app-dashbord [projectCount]="projectlist.projectCount"></app-dashbord> -->