


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-3">
      <li class="page-item">
        <a class="page-link"  aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" >1</a></li>
      <li class="page-item"><a class="page-link" >2</a></li>
      <li class="page-item"><a class="page-link" >3</a></li>
      <li class="page-item"><a class="page-link" >4</a></li>
      <li class="page-item"><a class="page-link" >5</a></li>
      <li class="page-item"><a class="page-link" >6</a></li>
      <li class="page-item">
        <a class="page-link"  aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <br>