

<div class="b1" id="maindiv">
    <div class="text-light" id="div2">
        <img src="/Logo.svg" alt="LOGO">
        <p>Online Project Management</p>
    </div>
    <div class="mx-auto bg-light ps-3 pe-3 pt-4 pb-5" id="formdiv">
        <form [formGroup]="myform" (ngSubmit)="onSubmit()">
            <div class="text-center text-secondary mt-2">
                <h6><b>Login To get Started</b></h6>
            </div>
            <br>
            <div class="mb-3">
                <label  class="form-lable text-secondary">
                    email
                </label>
                <input type="email" class="form-control" placeholder="abcd@gmail.com" formControlName="email">
                <div *ngIf="email?.touched && email?.invalid">
                    <p class="text-danger" *ngIf="email?.errors?.['required']"><small>*Field is mandatory</small></p>
                    <p class="text-danger" *ngIf="email?.errors?.['email']"><small>*invalid email</small></p>
                    </div>

            </div>

            <label class="form-lable text-secondary">Password</label>
            <input type="password" id="pwd" class="form-control" formControlName="password">
            <div class="text-end">
                <a href="" class="text-primary text-decoration-none"><small>Forgot password?</small></a>
                <br>
            </div>
            <div *ngIf="password?.touched && password?.invalid">
                <p class="text-danger" *ngIf="password?.errors?.['required']"><small>*Password required</small></p>
                <p class="text-danger" *ngIf="password?.errors?.['minlength']"><small>*Password min length should be 6</small></p>   
                <p class="text-danger" *ngIf="password?.errors?.['maxlength']"><small>*Password max length should be 12</small></p>
            </div>
           
            <br>
            <div class="text-center">

                <button type="submit" class="btn btn-primary btn-sm  w-50" [disabled]="!myform.valid" [routerLink]="['/addproject']">LogIn</button>
            </div>
        </form>

    </div>
  </div>